.sucesso {
  background-color: rgb(210, 255, 186);
  width: 200px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 63, 3);
  font-weight: bold;
  font-size: 1.1em;
}

.erro {
  background-color: rgb(255, 126, 126);
  width: 200px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(105, 0, 0);
  font-weight: bold;
  font-size: 1.1em;
}